.reveal .pagination {
    display: none;
    position: fixed;
    width: 110px;
    height: 110px;
    z-index: 30;
    right: 10px;
    bottom: 10px;
}


.reveal .line {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #fff;
    /*bottom: 10%;*/
    margin-top: 50%;
    margin-right: 0.

}
